footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--primary-color);
    padding: 1rem 4rem;
    border-top-left-radius: 10px;
}

footer p, footer a {
    margin: 0;
}

footer p {
    color: white;
}

footer a {
    color: white;
}

@media (max-width: 992px) {
    footer {
        position: fixed;
        z-index: 999;
    }
}

@media (max-width: 768px) {
    footer {
        position: unset;
        padding: 1rem 2rem;
        z-index: 999;
        border-top-left-radius: 0;
    }
}